@use "/src/scss/colors.scss";
@use "/src/scss/screens.scss";

.logo {
  width: fit-content;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;

  &__title {
    color: colors.$dark-gray;

    @include screens.mobile {
      display: none;
    }
  }
}
