@use "../../../scss/colors.scss";
@use "../../../scss/constants.scss";
@use "../../../scss/fonts.scss";

.Body {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-regular;
  line-height: constants.$line-height;
  color: colors.$body;

  &__type-M {
    font-size: 16px;
  }

  &__type-S {
    font-size: 12px;
  }
}
