@use "@/scss/colors.scss";
@use "@/scss/screens.scss";
@use "@/scss/constants.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: colors.$white;
  align-items: center;
  height: 4.7rem;
  border-radius: constants.$page-elements-border-radius;

  &__logo {
    @include screens.mobile {
      display: none;
    }
  }

  &__left {
    margin-left: 1rem;
  }

  &__right {
    margin-right: 1rem;
  }

  &__center {
    display: flex;
    justify-content: space-between;
  }

  &__preview-icon {
    display: none;

    @include screens.mobile {
      display: inline;
    }
  }

  &__span {
    @include screens.mobile {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
}
