@use "@/scss/colors.scss";
@use "@/scss/screens.scss";

.register {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;

  @include screens.mobile {
    width: 100%;
  }

  &__global-error-msg {
    color: colors.$red;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__h1 {
      color: colors.$dark-gray;
    }

    &__desc {
      color: colors.$gray;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__field {
      display: flex;
      flex-direction: column;
    }

    &__pass-desc {
      color: colors.$gray;
    }
  }

  &__login-prompt {
    color: colors.$gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    @include screens.mobile {
      flex-direction: column;
    }

    &__link {
      color: colors.$dark-purple;

      &:hover,
      &:focus {
        color: colors.$light-purple;
      }
    }
  }
}
