@use "../../../scss/colors.scss";
@use "../../../scss/constants.scss";
@use "../../../scss/fonts.scss";

.p {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-regular;
  line-height: constants.$line-height;
  color: colors.$body;

  &__m {
    font-size: fonts.$p-m-font-size;
  }

  &__s {
    font-size: fonts.$p-s-font-size;
  }
}
