@use "../../../scss/colors.scss";
@use "../../../scss/constants.scss";
@use "../../../scss/fonts.scss";

.heading {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-bold;
  line-height: constants.$line-height;
  color: colors.$heading;

  &__m {
    font-size: fonts.$heading-m-font-size;
  }

  &__s {
    font-size: fonts.$heading-s-font-size;
  }
}
