@use "../../scss/colors.scss";
@use "../../scss/constants.scss";
@use "../../scss/fonts.scss";

.heading {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-bold;
  line-height: constants.$line-height;

  &--md {
    font-size: fonts.$heading-md-font-size;
  }

  &--sm {
    font-size: fonts.$heading-sm-font-size;
  }

  &--gray {
    color: colors.$gray;
  }

  &--dark-purple {
    color: colors.$dark-purple;
  }
}

.body {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-regular;
  line-height: constants.$line-height;

  &--md {
    font-size: fonts.$body-md-font-size;
  }

  &--sm {
    font-size: fonts.$body-sm-font-size;
  }
}
