@use "../../../scss/colors.scss";
@use "../../../scss/constants.scss";
@use "../../../scss/fonts.scss";

.btn {
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-bold;
  border-radius: constants.$border-radius;
  padding: constants.$padding;
  cursor: pointer;

  &--md {
    font-size: 1rem;
  }

  &--primary {
    background-color: colors.$dark-purple;
    color: colors.$white;

    &:not(:disabled):hover {
      box-shadow: rgba(99, 60, 255, 0.5) 0rem 0.4rem 1.7rem 0rem;
      opacity: 0.5;
    }
  }

  &--secondary {
    background-color: colors.$beige;
    color: colors.$dark-purple;
    border: 1px solid colors.$dark-purple;

    &:not(:disabled):hover {
      background-color: colors.$lavender;
    }
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}
