@use "@/scss/colors.scss";
@use "@/scss/screens.scss";

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 2rem 0 2rem;

  @include screens.mobile {
    &__title {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    color: colors.$gray;
  }
}
