.links-list--scrollable {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 32rem;
  overflow: hidden auto;
  scroll-behavior: smooth;
  margin: 2rem 2rem 1rem 2rem;
  padding-top: 0.5rem;
}
