@use "@/scss/colors.scss";
@use "@/scss/constants.scss";
@use "@/scss/screens.scss";

.empty-links-list {
  background-color: colors.$beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem;
  margin: 2rem;
  border-radius: constants.$page-elements-border-radius;

  @include screens.tablet {
    padding-block: 4rem;
  }

  &__p {
    color: colors.$gray;
    text-align: center;
    width: 90%;
  }
}
