@use "../../../scss/colors.scss";
@use "../../../scss/fonts.scss";
@use "../../../scss/constants.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: colors.$white;
  align-items: center;
  height: 4.7rem;
  padding: 1rem 1rem 1rem 1.5rem;

  &__left {
    margin-left: 1rem;
  }

  &__right {
    margin-right: 1rem;
  }

  &__center {
    display: flex;
    justify-content: space-between;

    &__nav-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      padding: constants.$padding;
      border-radius: constants.$border-radius;

      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: colors.$gray;
        font-family: fonts.$instrument-sans;
        font-weight: fonts.$weight-bold;

        &--active {
          color: colors.$dark-purple;
        }

        &:hover {
          color: colors.$dark-purple;
        }
      }

      &--active {
        background-color: colors.$lavender;
      }
    }
  }
}
