@use "/src/scss/colors.scss";
@use "/src/scss/constants.scss";
@use "/src/scss/fonts.scss";

.form__drop-down-field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 1px solid colors.$light-gray;
  border-radius: constants.$border-radius;
  padding: 0.75rem 2.5rem;
  background-color: colors.$white;
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-regular;
  font-size: fonts.$body-md-font-size;
  color: colors.$dark-gray;
  line-height: constants.$line-height;
  width: inherit;
  cursor: pointer;

  &:focus {
    outline: 1px solid colors.$dark-purple;
    box-shadow: rgba(99, 60, 255, 0.25) 0rem 0.4rem 1.7rem 0rem;
    opacity: 1;
  }

  &__option {
    &:checked {
      color: colors.$dark-purple;
    }
  }
}
