@use "@/scss/colors.scss";
@use "@/scss/constants.scss";
@use "@/scss/fonts.scss";

.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: constants.$button-padding;
  border-radius: constants.$border-radius;
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-bold;

  &:has(.active) {
    background-color: colors.$lavender;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: colors.$gray;

    &:hover,
    &:focus,
    &:active {
      color: colors.$dark-purple;
    }

    &.active {
      color: colors.$dark-purple;
    }
  }
}
