@use "@/scss/colors.scss";
@use "@/scss/constants.scss";
@use "@/scss/fonts.scss";
@use "@/scss/screens.scss";

.background {
  background-color: colors.$beige;
  height: 100vh;

  @include screens.mobile {
    background-color: unset;
    height: unset;
  }
}

.purple-header {
  display: flex;
  background-color: colors.$dark-purple;
  position: relative;
  height: 20rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1.5rem;

  @include screens.mobile {
    background-color: colors.$white;
    position: unset;
    height: unset;
    padding: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.user-data-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color: colors.$white;
  position: absolute;
  border-radius: 1.5rem;
  top: 10rem;
  left: 38%;
  padding: 3rem 3.5rem;
  box-shadow: constants.$light-gray-box-shadow;
  z-index: constants.$z-index;

  @include screens.mobile {
    position: unset;
    box-shadow: none;
    z-index: unset;
    top: unset;
    left: unset;
  }
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__names {
    text-align: center;
    word-break: normal;
  }

  &__email {
    color: colors.$gray;
  }
}

.profile-pic {
  border: 0.25rem solid colors.$dark-purple;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
}

.profile-pic,
.profile-pic-placeholder {
  margin-block-end: 1.5rem;
}

.user-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 13rem;
  overflow: hidden auto;

  @include screens.mobile {
    height: unset;
    overflow: unset;
  }
}

.user-link {
  width: 15rem;
  height: 3.5rem;
  padding: 0.75rem 1rem;
  border-radius: constants.$border-radius;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  font-family: fonts.$instrument-sans;
  font-weight: fonts.$weight-regular;
  font-size: fonts.$body-md-font-size;
  line-height: constants.$line-height;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    filter: invert(99%) sepia(1%) saturate(662%) hue-rotate(76deg)
      brightness(233%) contrast(100%);
  }
}
