$heading: #333333;
$body: #737373;

$btn-primary: #633cff;
$btn-primary-label: #ffffff;
$btn-primary-disabled: #efebff;

$btn-secondary: #fafafa;
$btn-secondary-label: #633cff;
$btn-secondary-active: #efebff;
$btn-secondary-border: #633cff;
