$lavender: #efebff;
$light-purple: #beadff;
$dark-purple: #633cff;
$gray: #737373;
$dark-gray: #333333;
$light-gray: #d9d9d9;
$white: #ffffff;
$beige: #fafafa;
$red: #ff3939;

$tab-label-default: $gray;
$tab-background-color-active: $lavender;
$tab-label-hover: $dark-purple;
$tab-label-active: $dark-purple;
