$instrument-sans: "Instrument Sans", sans-serif;

$weight-bold: 700;
$weight-regular: 400;
$weight-semi-bold: 600;

$body-md-font-size: 1rem;
$body-sm-font-size: 0.75rem;

$heading-md-font-size: 2rem;
$heading-sm-font-size: 1rem;
